<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/element.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" href="./assets/css/element.css">
    <link rel="stylesheet" href="./assets/css/home.css">
</head>

<body>

<div id="app">
    <el-container>
        <el-header>
            <el-row>
                <el-col :span="4">
                    <div class="main-home-logo"></div>
                </el-col>
                <el-col :span="18">
                    <div>
                        <span>Welcome！</span>
                    </div>
                </el-col>
                <el-col :span="2">
                    <el-popover placement="top-start"
                                title="用户信息"
                                width="120"
                                trigger="hover">

                        <el-descriptions :column="1">
                            <el-descriptions-item label="用户ID">{{ userInfo.id }}</el-descriptions-item>
                            <el-descriptions-item label="账户">{{ userInfo.accountName }}</el-descriptions-item>
                            <el-descriptions-item label="真实姓名">{{ userInfo.userName }}</el-descriptions-item>
                        </el-descriptions>

                        <el-button type="primary" slot="reference" icon="el-icon-user" @click="logout">退出</el-button>
                    </el-popover>

                </el-col>
            </el-row>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-menu :unique-opened=true class="el-menu-vertical-demo" @select="handleMenuItemClick">
                    <template v-for="item in menuItems">
                        <el-submenu v-if="item.children.length > 0" :index="item.id+''">
                            <template #title>
                                {{ item.resourceName }}
                            </template>
                            <el-menu-item v-for="child in item.children" :key="child.id" :index="child.resourcePath">
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ child.resourceName }}
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item v-else-if="item.resourcePath" :index="item.resourcePath">
                            {{ item.resourceName }}
                        </el-menu-item>
                    </template>
                </el-menu>
            </el-aside>

            <el-main>
                <iframe :src="frameSrc" style="height: 100%;width: 100%;border: 0"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>

</body>

<script>
    new Vue({
        el: '#app',
        data: {
            frameSrc: "./index.html",
            menuItems: [],
            userInfo: ""
        },

        created() {
            // 加载菜单
            get('/api/sa/resource/getUserRoleResources?resourceType=MENU', (menuItems) => {
                this.menuItems = menuItems;
            }, this.$message)

            get('/api/sa/user/getLoginUser', (user) => {
                this.userInfo = user
            }, this.$message)
        },

        methods: {
            handleMenuItemClick(index) {
                if (index) {
                    this.frameSrc = index + "?v=" + (Math.random() * 1000)
                }
            },

            logout() {
                post("/api/sa/user/logout", null, () => {
                    toastMsg(this.$message, "注销成功")
                    jump2Login(11012)
                }, this.$message)
            }
        }
    })
</script>

</html>