<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>角色管理</title>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/element.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" href="./assets/css/element.css">
    <link rel="stylesheet" href="./assets/css/crud.css">
</head>
<body>
<div id="app" style="width:95%; margin:0 auto">
    <h2>角色配置信息</h2>

    <el-form :model="queryForm" label-width="130px">
        <el-row>
            <el-col :span="6">
                <el-form-item label="角色code">
                    <el-input v-model="queryForm.roleCode"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="角色名">
                    <el-input v-model="queryForm.roleName"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="角色状态">
                    <el-select v-model="queryForm.roleStatus" placeholder="请选择" clearable>
                        <el-option
                                v-for="item in roleStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item>
                    <el-button type="primary" @click="loadTable(1)">查询</el-button>
                    <el-button @click="resetQueryForm">重置</el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>

    <div class="button-container">
        <div style="flex: 1;"></div>
        <el-button type="primary" @click="add">新增</el-button>
    </div>

    <el-table :data="pageInfo.list" stripe border style="width: 100%">
        <el-table-column prop="id" label="id" width="80px"></el-table-column>
        <el-table-column prop="roleCode" label="角色code"></el-table-column>
        <el-table-column prop="roleName" label="角色名"></el-table-column>
        <el-table-column prop="roleStatus" label="角色状态">
            <template slot-scope="scope">
                <el-switch v-model="scope.row.roleStatus" @change="changeSwitch(scope.row)"
                           active-color="#409eff"
                           inactive-color="#DCDFE6"></el-switch>
            </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="120px">
            <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" size="small" circle @click="edit(scope.row)"></el-button>
                <el-button type="danger" icon="el-icon-delete" size="small" circle
                           @click="del(scope.row.id)"></el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-row type="flex" justify="center" style="margin-top: 10px">
        <el-pagination
                layout="total, sizes, prev, pager, next, jumper"
                :page-size="pageSize"
                :page-sizes="[5, 10, 50, 100, 200]"
                :current-page="pageNum"
                :total="pageInfo.total"
                @prev-click="loadTable"
                @size-change="sizeChange"
                @current-change="loadTable">
        </el-pagination>
    </el-row>

    <el-dialog title="角色配置信息" :visible.sync="dialogVisible" width="80%">
        <el-form ref="form" :model="form" label-width="130px">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="角色code">
                        <el-input v-model="form.roleCode"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="角色名">
                        <el-input v-model="form.roleName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item label="角色资源">
                        <el-tree :data="allResources"
                                 :props="resourceProps"
                                 node-key="id"
                                 ref="resourceTree"
                                 highlight-current
                                 show-checkbox></el-tree>
                    </el-form-item>
                </el-col>
            </el-row>

        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">确 定</el-button>
        </span>
    </el-dialog>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            pageInfo: {},
            pageNum: 1,
            pageSize: 10,
            dialogVisible: false,
            form: {},
            queryForm: {},
            roleStatus: [
                {"label": "启用", "value": true},
                {"label": "禁用", "value": false}
            ],
            allResources: [],
            resourceProps: {
                children: 'children',
                label: 'resourceName'
            }
        },

        created() {
            this.setAllResources();
            this.loadTable(this.pageNum);
        },

        methods: {
            setAllResources() {
                get('/api/sa/resource/getAllResources?resourceType=MENU', (ret) => {
                    this.allResources = ret
                }, this.$message)
            },

            changeSwitch(row) {
                save(row, '/api/sa/role/updateRoleStatus', '',
                    this.updateSuccessCallback, null, this.$message)
            },

            resetQueryForm() {
                this.queryForm = {}
            },

            loadTable(num) {
                this.pageNum = num;
                let pageQuery = {
                    "pageNo": num,
                    "pageSize": this.pageSize,
                    "roleCode": this.queryForm.roleCode,
                    "roleName": this.queryForm.roleName,
                    "roleStatus": this.queryForm.roleStatus
                }
                post('/api/sa/role/page', pageQuery, (pageInfo) => {
                    this.pageInfo = pageInfo
                }, this.$message)
            },

            sizeChange(val) {
                this.pageSize = val
                this.loadTable(1)
            },

            add() {
                this.form = {}
                this.$nextTick(() => {
                    this.$refs.resourceTree.setCheckedKeys([]);
                });
                this.dialogVisible = true;
            },

            edit(row) {
                this.form = row;
                this.dialogVisible = true;
                this.$nextTick(() => {
                    this.$refs.resourceTree.setCheckedKeys(row.roleResources);
                });
            },

            save() {
                this.form.roleResources = this.$refs.resourceTree.getCheckedKeys();
                save(this.form, '/api/sa/role/update', '/api/sa/role/create',
                    this.updateSuccessCallback, this.insertSuccessCallback, this.$message)
            },

            updateSuccessCallback() {
                toastMsg(this.$message, "更新成功")
                this.dialogVisible = false;
                this.loadTable(this.pageNum)
            },

            insertSuccessCallback() {
                toastMsg(this.$message, "新增成功")
                this.dialogVisible = false;
                this.loadTable(1)
            },

            del(id) {
                this.$confirm('此操作将永久删除该数据, 是否继续?', '警告', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    post('/api/sa/role/delete?roleId=' + id, null, () => {
                        toastMsg(this.$message, "删除成功")
                        this.loadTable(this.pageNum)
                    }, this.$message)
                }).catch(() => {
                });
            }

        }
    })
</script>
</body>
</html>